// COLORS

$color1: rgb(49, 49, 49);
$color2: rgb(140, 140, 140);
$color3: rgb(239, 239, 239);
$color-success: rgb(173 215 173);
$color-danger: rgb(206, 121, 121);
$color-bg: rgb(242, 239, 230);

// FONTS

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;400;500;600;700;800;900&family=Square+Peg&display=swap");

$font-title: "Lobster", cursive;
$font1: "Poppins", sans-serif;
$font2: "Square Peg", cursive;
