@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;400;500;600;700;800;900&family=Square+Peg&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  background: rgb(242, 239, 230);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
  min-width: 100vw;
}
main .main-content {
  position: relative;
}

h1,
h2 {
  font-family: "Lobster", cursive;
  font-weight: 400;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
}

button {
  font-family: "Poppins", sans-serif;
}

li i {
  font-size: 0.7rem;
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  backdrop-filter: blur(3px) brightness(60%);
}

.total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  margin-top: 20px;
}
.total-container .total-price {
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
  color: rgb(49, 49, 49);
}
.total-container .btn-container {
  margin-top: 0;
}

.check-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 4rem 0;
}
.check-container .circle {
  border: none;
  border-radius: 50%;
}
.check-container .circle-bigger {
  min-height: 400px;
  min-width: 400px;
  background: rgb(173, 215, 173);
  filter: brightness(115%);
}
.check-container .circle-smaller {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  min-height: 170px;
  min-width: 170px;
  background: rgb(242, 239, 230);
  filter: none;
}
.check-container .circle i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  font-size: 5rem;
  font-weight: 600;
  color: rgb(173, 215, 173);
  filter: brightness(105%);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 70px;
  min-width: 100vw;
  background: rgb(140, 140, 140);
  margin-bottom: 30px;
}

.header-homepage {
  position: relative;
  min-height: 400px;
  background: transparent;
}
.header-homepage nav {
  background: rgba(20, 20, 20, 0.73);
}
.header-homepage .header-bg {
  position: absolute;
  min-height: 400px;
  min-width: 100vw;
  z-index: -2;
  background: url(https://images.unsplash.com/photo-1579751626657-72bc17010498?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80) center/cover;
}
.header-homepage .header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.header-homepage h1 {
  color: rgb(239, 239, 239);
  font-size: 4rem;
}
.header-homepage p {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(239, 239, 239);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 70px;
  min-width: 100vw;
  padding: 0 1.2rem;
}
nav a {
  color: rgb(239, 239, 239);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.6rem;
}
nav a:visited {
  color: rgb(239, 239, 239);
}
nav .right {
  display: flex;
  gap: 10px;
}

footer {
  display: flex;
  align-items: center;
  min-width: 100vw;
  min-height: 230px;
  margin-top: 50px;
  padding: 0.6rem 0;
  background: rgb(49, 49, 49);
  color: rgb(239, 239, 239);
}
footer .left {
  display: flex;
  justify-content: end;
  min-width: 40%;
  padding-right: 1.2rem;
}
footer .right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 60%;
  padding-left: 1.2rem;
}
footer .right p {
  font-size: 1.2rem;
  font-weight: 600;
}
footer .right ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 180px;
}
footer .right ul li {
  list-style: none;
  padding-left: 0.6rem;
}
footer .right ul li a {
  color: rgb(239, 239, 239);
  text-decoration: none;
}
footer .right ul li a:visited {
  color: rgb(239, 239, 239);
}

.alert {
  display: flex;
  align-items: center;
  min-width: 100%;
  padding: 1.2rem;
  border-radius: 3px;
  font-family: "Square Peg", cursive;
  font-size: 1.5rem;
}
.alert-success {
  background: rgb(173, 215, 173);
}
.alert-warning {
  background: rgb(206, 121, 121);
}

form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}
form h3 {
  margin: 20px 0;
}
form .last-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form .price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}
form .price-container h2 {
  margin: 1.2rem 0;
}
form .form-group {
  display: flex;
  flex-direction: column;
  margin: 25px auto;
}
form .form-group-errors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7px;
  font-size: 0.9rem;
  color: rgb(140, 9, 9);
}
form .form-group-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form .form-group-row label {
  display: flex;
  align-items: center;
  min-height: 47px;
  max-width: 190px;
  padding: 0 1.2rem;
}
form .form-group-row input,
form .form-group-row textarea {
  min-height: 47px;
  min-width: 500px;
  border: 2px solid transparent;
  border-radius: 3px;
  background: rgb(49, 49, 49);
  color: rgb(239, 239, 239);
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 1px;
  outline: none;
}
form .form-group-row input:focus,
form .form-group-row textarea:focus {
  background: rgb(239, 239, 239);
  color: rgb(49, 49, 49);
  border: 2px solid rgb(49, 49, 49);
}
form .form-group-row input::placeholder {
  font-size: 1.1rem;
}
form .form-group-row textarea {
  resize: vertical;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  padding: 0.6rem;
}
form .form-group-expiration_date label {
  padding-right: 0;
  margin-right: 0.6rem;
}
form .form-group-expiration_date input {
  min-width: 50px;
  max-width: 50px;
  margin-left: 0.6rem;
}
form .form-group-cvc input {
  min-width: 50px;
  max-width: 80px;
}
form .registration-link {
  display: block;
  margin: 25px auto;
  text-align: center;
  color: rgb(49, 49, 49);
  font-size: 0.9rem;
}
form .registration-link:visited {
  color: rgb(49, 49, 49);
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.btn-container.absolute {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1.2rem;
  margin: 0 1.2rem;
  border: none;
  border-radius: 3px;
  font-size: 1.1rem;
  text-decoration: none;
  color: rgb(49, 49, 49);
  box-shadow: 0px 5px 5px 0px hsla(120deg, 11%, 23%, 0.6);
}
.btn:visited {
  color: rgb(49, 49, 49);
}
.btn span {
  font-weight: 500;
}
.btn-success {
  background: rgb(173, 215, 173);
}
.btn-danger {
  background: rgb(206, 121, 121);
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1.2rem 1.8rem;
  min-width: 800px;
  min-height: 400px;
}
.card a {
  filter: opacity(75%);
}
.card img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
.card h2 {
  color: rgb(239, 239, 239);
  margin: 0;
}
.card p {
  color: rgb(239, 239, 239);
  max-width: 700px;
  text-align: justify;
}
.card .price {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
  color: rgb(239, 239, 239);
}
.card-pizza .last-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
}
.card-basket h2 {
  margin: 8px 0 20px;
}
.card-basket .btn-container {
  margin: 0;
}
.card-basket .set_quantity {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.card-basket .set_quantity span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  font-family: "Lobster", cursive;
  font-size: 2rem;
  color: rgb(239, 239, 239);
}
.card-basket .last-row {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  min-width: 100%;
  margin-top: 15px;
}
.card-basket .last-row .price {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  min-width: 600px;
  padding: 1.8rem 2rem;
}
.card-user h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1.5rem 0;
}
.card-user h4:nth-of-type(1) {
  margin-top: 0;
}
.card-user .btn-container {
  margin-top: 40px;
}
.card-user-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  min-height: 100%;
  min-width: 100%;
  background: rgb(140, 140, 140);
  filter: opacity(30%);
  border-radius: 10px;
  box-shadow: 7px 6px 8px 3px rgba(0, 0, 0, 0.9019607843);
}
.card-user .blur {
  border-radius: 10px;
  backdrop-filter: blur(5px);
}
.card .user-block {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(4, 40px);
  gap: 10px;
  min-width: 100%;
}
.card .user-block span {
  display: flex;
  align-items: center;
  color: rgb(49, 49, 49);
}
.card .user-block span:nth-of-type(even) {
  justify-content: center;
  border-radius: 3px;
  background: rgb(49, 49, 49);
  color: rgb(239, 239, 239);
}
.card .user-block p {
  grid-column: 1/3;
  display: flex;
  align-items: center;
  color: rgb(49, 49, 49);
  font-size: 0.9rem;
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
