<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    {% block debug %}{% endblock %}

    {% block header_homepage %}
    <header>
    {% endblock %}
        <nav>
            <div class="left">
                <a href="{{ path("app_front_home_index") }}"><i class="fa-solid fa-house-chimney"></i></a>
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="#"><i class="fa-solid fa-pizza-slice"></i></a>
                    <a href="#"><i class="fa-solid fa-users"></i></a>
                    <a href="#"><i class="fa-solid fa-arrow-up-wide-short"></i></a>               
                {% endif %}
            </div>
            <div class="right">
                <a href="{{ path("app_front_basket_display") }}"><i class="fa-solid fa-basket-shopping"></i></a>
                <a href="#"><i class="fa-solid fa-user"></i></a>
                {% if app.user %}
                    <a href="{{ path("app_security_logout") }}"><i class="fa-solid fa-right-from-bracket"></i></a>
                {% endif %}
            </div>
        </nav>
        {% block header_body %}
        {% endblock %}
    </header>

    <main>
        <div class="main-content">
            {% block body %}{% endblock %}
        </div>
    </main>
    
    <footer>
        <div class="left">
            <h2>PizzaShop</h2>
        </div>
        <div class="right">
            <p>Plan du site</p>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Rechercher</a></li>
                <li><a href="#">Mentions légales</a></li>
            </ul>
        </div>
    </footer>

</body>

</html>