nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 70px;
  min-width: 100vw;
  padding: 0 1.2rem;

  a {
    color: $color3;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.6rem;

    &:visited {
      color: $color3;
    }
  }

  .right {
    display: flex;
    gap: 10px;
  }
}
